@{
    ViewBag.Title = "修改文章";
}

<h2>修改文章</h2>

@using (Html.BeginForm("Edit", "Acticle"))
{
    <div>
        @if (Model != null)
        {

            foreach (var item in Model)
            {

                @Html.Label("標題：")
                <input type="text" id="a_title" name="a_title" value="@item.TITLE">
                <br />
                @Html.Label("內容：")
                <textarea id="a_body" name="a_body">@item.BODY</textarea>
                <br />
                @Html.Label("作者：")
                 <input type="text" id="a_author" name="a_author" value="@item.AUTHOR">
                <br />
            }
            @Html.Hidden("F_ID", Request["F_ID"])
            @Html.Hidden("A_ID", Request["A_ID"])
            <input type="submit" value="送出">


        }
    </div>
}

